
@font-face {
  font-family: 'GT Flexa';
  src: url('assets/fonts/GTFlexa-Md.woff2') format('woff2'),
      url('assets/fonts/GTFlexa-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "GT Flexa";
  background-color: black;
  font-size: 150%;
  color: white;
  cursor: url(assets/SVG/plus.png) 2 2, pointer;

}

#fixed-container{
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw; */

 
}

#head-balken{
  display: inline-block;
  position: absolute;
  width: 100%;
  /* height: 50px; */
  background-color: white;
  z-index: 1000;
  color: black ;
  text-transform: uppercase;
  cursor:  url(assets/SVG/plus.png) 2 2, pointer;

  
}
#head-balken span{
  padding: 10px 20px;

}
.name{
float: left;
}



.p-title{
  float: right;
}

#about{
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: white;
  mix-blend-mode: normal;
    position: absolute;
    z-index: 999;
    color: black;
    cursor:  url(assets/SVG/close.png) 2 2, pointer;

}


.headline{
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-size: 8em;
  text-align: center;
  top: 40vh;
  line-height: 1;
  padding: 20px;
  background: -webkit-linear-gradient(blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 100px 20px yellow;

}

.projektbubble {
  /* transform-origin: top left;
  transform: scale(0.7); */
  /* width: 400px;
  height: 400px; */
  /* background-color: blue; */
  width: 50vh;
  left: 3vw;
  top: 25vw;
  position: fixed;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0%;
  cursor: pointer;
  transform: translateY(49px);
  /* border-radius: 100px;
  background: -webkit-linear-gradient(red, darkorange); */
}
#samt {
  /* width: 98vw;
  height: 98vh;
  top: 1vw;
  left: 1vw; */
  width: 100vw;
  height: 100vh;
  top: 0vw;
  left: 0vw;
  mix-blend-mode: difference;
}

#samtetc {
  width: 25vh;
  top: 80vh;
  left: 3vw;
}

#Riso {
  height: 80vh;
  width: 90vw;
  top: 15vh;
  left: 10vw;
  mix-blend-mode: difference;

}

#phd {
  width: 20vw;
  height: auto;
  left: 60vw;
  top: 20vh;
  mix-blend-mode: difference;
}

#nakefews {
  height: 40vh;
  width: auto;
  top: 45vh;
  left: 60vw;
}

#tamuz {
  width: 15vw;
  height: auto;
  left: 80vw;
  top: 45vh;
  mix-blend-mode: difference;

}

#hebtype {
  width: 20vw;
  height: auto;
  top: 0;
  left: 20vw;
  mix-blend-mode: difference;

}
#traum {
  /* width: 95vw;
  height: 95vh;
  top: 3vh;
  left: 3vw; */ 
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  mix-blend-mode: difference;

}
#brennes {
  width: 20vw;
  height: auto;
  top: 0;
  left: 60vw;
  mix-blend-mode: difference;

}
#holzschnitt {
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  mix-blend-mode: difference;
}

#nichtjetzt {
  width: 45vw;
  height: auto;
  top: 20vh;
  left: 55vw;  
mix-blend-mode: difference;
}

#siebdruck {
  width: 55vw;
  height: auto;
  top: 85vh;
  left: 23vw;
  mix-blend-mode: difference;

}
#wildwildweb {
  top: 35vh;
  left: 5vw;
  mix-blend-mode: difference;

}

#museum {
  top: 2vh;
  left: 60vw;
}


#stapelcontainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  display: none;
  z-index: 100;
  cursor:  url(assets/SVG/close-w.png) 2 2, pointer;

}

.stapelBild {
  left: 50%;
  max-height: 90vh;
  max-width: 90vw;
  height: 70%;
  top: 50%;
  position: absolute;
  /* width: 80vw; */
    
  display: block;
  object-fit: contain;
  transform-origin: top left;
  cursor:  url(assets/SVG/plus.png) 2 2, pointer;
}
.Stapeltext{
    mix-blend-mode: exclusion;
    font-size: 2em;
    text-align: left;
    padding: 50px 30px 30px 30px !important;
    vertical-align: middle;    
}
#pInfo{
margin-top: 50px;
padding: 10px 20px;
mix-blend-mode: difference;
}

#closeButton {
  position: fixed;
  
  top: 60px;
  right: 20px;
  cursor: pointer;
  display: none;
  z-index: 250;
  mix-blend-mode: difference;
}

::selection{
    background-color: none;
    color: white;
}



#hebtype1{
  max-width: 50vw;
}