@font-face {
    font-family: "Monument";
    src: url("assets/fonts/ABCMonumentGrotesk-Regular.woff2") format("woff2"), url("assets/fonts/ABCMonumentGrotesk-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monument";
    background-color: #eae2fa;
    background-image: url("assets/images/infos.jpg");
    background-size: contain;
    background-position: 0px 50px;
    font-size: 150%;
    color: black;
    background-repeat: no-repeat
}

.form {
    position: fixed;
    top: 50px;
    height: calc(100% - 50px);
    width: 100vw;
    background: -webkit-linear-gradient(rgb(230, 116, 10), rgb(66, 150, 139));
    box-shadow: inset 0px 0px 20px 50px rgb(235, 158, 128);
    border-radius: 50%;
    display: none;
}

.fixed-container {
    /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
    height: 100vh;
    width: 100vw;
}

#head-balken {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgb(180, 192, 231);
    z-index: 1000;
    color: red;
    text-shadow: -0.5px 0 red, 0 0.5px red, 0.5px 0 red, 0 -1px red;
    text-transform: uppercase;
}

.name {
    padding: 10px 20px;
    float: left;
}

.p-title {
    /* padding: 0px 10px; */
}

#title-wrapper {
    float: right;
    padding: 10px 20px;
}

#closeButton {
    display: none;
    padding: 0;
    cursor: pointer;
    z-index: 250;
}

#about {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: white;
    mix-blend-mode: normal;
    position: absolute;
    z-index: 999;
    color: black;
}

.headline {
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-size: 8em;
    text-align: center;
    top: 30vh;
    line-height: 1;
    padding: 20px;
    background: -webkit-linear-gradient(rgb(255, 123, 0), rgb(255, 115, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 100px 20px rgb(235, 158, 128);
}

.index {
    position: fixed;
    display: none;
    z-index: 100;
    width: 100vw;
    height: calc(100% - 50px);
    top: 50px;
    color: white;
    text-transform: uppercase;
    /* align-items: center */
}

.index li {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    border-bottom: 2px solid white;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -1px white;
    align-items: center;
    grid-template-columns: auto auto auto;
}

.index li span {
    display: inline-block;
}

.li-category {
    margin-left: -50vw;
    text-align: center;
}

.li-year {
    text-align: right;
}

@media (max-width: 768px) {
    .index li {
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
    }
    .index li span {
        text-align: left;
    }
    .li-year {
        display: none !important;
    }
}

.projektbubble {
    /* transform-origin: top left;
  transform: scale(0.7); */
    /* width: 400px;
  height: 400px; */
    /* background-color: blue; */
    width: 50vh;
    /* left: 3vw;
    top: 25vw; */
    max-width: 100vw;
    max-height: 100vh;
    display: block;
    position: fixed;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0%;
    cursor: pointer;
    transform: translateY(49px);
    /* -webkit-filter: blur(30px); 
    filter: blur(30px); */
    /* display: none; */
    /* border-radius: 100px;
  background: -webkit-linear-gradient(red, darkorange); */
}

.hide {
    display: none !important;
}

#samt {
    width: 100vw;
    height: 100vh;
    top: 1vh;
    left: 0vw;
}

#samtetc {
    height: 17vh;
    width: auto;
    bottom: 8vh;
    top: inherit;
    left: 3vw;
}

#Riso {
    height: 58vh;
    width: auto;
    top: inherit;
    bottom: 0vh;
    right: 20vw;
}

#phd {
    width: auto;
    height: 20vh;
    right: 10vw;
    top: 15vh;
}

#nakefews {
    width: 40vh;
    max-width: 80vw;
    height: auto;
    bottom: 25vh;
    left: 15vw;
}

#tamuz {
    width: auto;
    max-width: 80vw;
    height: 60vh;
    left: 0;
    top: 12vh;
}

#hebtype {
    width: 70vw;
    height: auto;
    top: 0;
    right: 0;
}

#traum {
    /* width: 95vw;
  height: 95vh;
  top: 3vh;
  left: 3vw; */
    width: 100vw;
    height: 100vh;
    top: 0vh;
    left: 0vw;
}

#brennes {
    width: 20vw;
    height: auto;
    bottom: 30vh;
    right: 10vw;
}

#holzschnitt {
    width: 100vw;
    height: 100vh;
    top: 0vh;
    left: 0vw;
}

#nichtjetzt {
    width: 100vw;
    height: auto;
    top: 5vh;
}

#siebdruck {
    width: auto;
    height: 13vh;
    bottom: 8vh;
    right: 5vw;
    max-width: 90vw;
}

#wildwildweb {
    width: 35vw;
    height: auto;
    top: 45vh;
    left: 25vw;
}

#museum {
    top: 2vh;
    right: 1vw;
    height: 65vh;
    width: auto;
}

#christine {
    width: 80vw;
    height: auto;
    max-height: 100vh;
    top: -5vh;
    left: 5vw;
}

#stapelcontainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 100;
}

.stapelBild {
    /* left: 50%;
  max-height: 70vh;
  max-width: 70vw;
  height: 70%;
  top: 50%; */
    width: 500px;
    position: absolute;
    /* width: 80vw; */
    display: block;
    object-fit: contain;
    transform-origin: top left;
}

.Stapeltext {
    mix-blend-mode: exclusion;
    font-size: 2em;
    text-align: left;
    padding: 50px 30px 30px 30px !important;
    vertical-align: middle;
}

#pInfo {
    margin-top: 50px;
    padding: 10px 20px;
    mix-blend-mode: difference;
}

::selection {
    background-color: none;
    color: white;
}

#index-julul {
    color: rgb(180, 192, 231);
    text-shadow: -0.5px 0 rgb(180, 192, 231), 0 0.5px rgb(180, 192, 231), 0.5px 0 rgb(180, 192, 231), 0 -1px rgb(180, 192, 231);
}